#cloud-config
hostname: ${hostname}
fqdn: ${hostname}
users:
  - name: devops
    sudo: ALL=(ALL) NOPASSWD:ALL
    home: /home/devops
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("~/.ssh/id_rsa.pub")}
package_upgrade: true
packages:
- bash-completion
- firewalld
runcmd:
- [sh, -c, systemctl, enable, firewalld]
- [sh, -c, systemctl, start, firewalld]
